@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family:"PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-brown {
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
  color: #9e9089;
}

.button-brown:disabled {
  background-color: #e5e5e5;
}

.button-blue {
  background-color: #82b3d3;
  border: none;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #82b3d3;
  color: #a7cae0;
}

.button-blue:disabled {
  background-color: #e5e5e5;
}

.button-green {
  background-color: #7db54f;
  border: none;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus {
  background-color: #6c9e42;
}

.button-green:active {
  background-color: #7db54f;
  color: #a4cb84;
}

.button-green:disabled {
  background-color: #e5e5e5;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px 0 #00000033;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  position: relative;
  padding-right: 70px;
  padding-left: 70px;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navigation-logo {
  position: absolute;
  height: auto;
  top: 0;
  left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 168px;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.link-text {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user {
  max-width: 268px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-link {
  display: block;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: #d6d0cd;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  text-decoration: none;
}

.search {
  padding: 22px 12px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.search:hover {
  opacity: 60%;
}

.search:active {
 opacity: 30%;
}

.favorites {
  padding: 22px 12px;
  margin-right: 20px;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: block;
}

.favorites:hover {
  opacity: 60%;
}

.favorites:active {
 opacity: 30%;
}

.navigation-favorites {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  padding: 4px 4px;
  position: absolute;
  top: 11px;
  left: 20px;
}

.navigation-button {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color:#ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 8px 34px;
}

.hero {
  background-color: #e0edf5;
  background-image: url("../images/delimiter.svg"), url("../images/mountains.jpg");
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
  padding-left: 20px;
  padding-right: 20px;
}

.hero-text {
  display: block;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
}

.advantages {
  text-align: center;
}

.subtitle-container {
  padding-top: 69px;
  padding-bottom: 69px;
  padding-left: 274px;
  padding-right: 274px;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subtitle-text {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-container {
  width: 230px;
  padding: 112px 85px;
  flex-shrink: 0;
}

.pic-description {
  width: 230px;
  padding: 102px 85px;
  flex-shrink: 0;
}

.text-with-pic {
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
}

.text-with-pic-reverse {
  flex-direction: row-reverse;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 62px;
}

.title-pic {
  position: relative;
}

.title-pic::after {
 content: "";
 position: absolute;
 left: 85px;
 right: 85px;
 bottom: -30px;
 width: 60px;
 height: 2px;
 background-color:rgba(255, 255, 255, 0.3);
}

.no-pic {
  position: relative;
}

.no-pic::after {
 content: "";
 position: absolute;
 left: 85px;
 right: 85px;
 bottom: -30px;
 width: 60px;
 height: 2px;
 background-color:rgba(0, 0, 0, 0.3);
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.advantages-text {
  background-color: #f0f6fa;
}

.town_sedona {
  object-fit: cover;
}

.text-beautiful-road {
  background-color: #e6f0f6;
}

.sedona-attractions {
  object-fit: cover;
}

.subtitle-container-2 {
  padding-top: 64px;
  padding-left: 347px;
  padding-right: 347px;
  padding-bottom: 64px;
}

.advantages-item-container-1 {
  width: 230px;
  padding-top: 183px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 81px;
}

.house {
  background-color: #f0f6fa;
}

.icon-house {
  background-image: url("../images/advantage-icon-home.svg");
  background-repeat: no-repeat;
  background-position: center top 81px;
}

.title-house {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
}

.food {
  background-color: #ffffff;
}

.icon-food {
  background-image: url("../images/advantage-icon-food.svg");
  background-repeat: no-repeat;
  background-position: center top 81px;
}

.title-food {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
}

.souvenirs {
  background-color: #f0f6fa;
}

.icon-souvenirs {
  background-image: url("../images/advantage-icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center top 81px;
}

.title-souvenirs {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
}

.subtitle-interesting {
  text-align: center;
  padding: 96px 304px;
}

.interesting-text {
  margin-bottom: 54px;
}

.subtitle-button {
 font-family: inherit;
 font-size: 20px;
 font-weight: 700;
 line-height: 36px;
 color:#ffffff;
 text-transform: uppercase;
 text-decoration: none;
 padding: 8px 50px;
}

.subscribes {
  background-image: url("../images/subscribe.jpg");
  background-color: #9b9592;
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
  padding-left: 20px;
  padding-right: 20px;
}

.subscribes-container {
  width: 684px;
  margin: 0 auto;
}

.subscribes-title {
 margin-top: 0;
 margin-bottom: 20px;
 font-size: 30px;
 font-weight: 700;
 line-height: 36px;
 color:#ffffff;
 text-transform: uppercase;
}

.subscribes-description {
 margin-top: 0;
 margin-bottom: 54px;
 font-size: 22px;
 font-weight: 400;
 line-height: 26px;
 color: #ffffff;
}

.subscribes-form {
  display: flex;
}

.subscribes-button {
 font-family: inherit;
 font-size: 20px;
 font-weight: 700;
 line-height: 36px;
 color:#ffffff;
 padding: 5px 47px;
 border: 3px solid #82b3d3;
 text-transform: uppercase;
 cursor: pointer;
 display: inline-block;
 border-radius: 0 4px 4px 0;
}

.page-footer {
  display: flex;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
}

.footer-social {
  max-width: 150px;
  margin-right: auto;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-button {
  color: #82b3d3;
}

.social-button:hover {
  color: #68a2ca;
}

.social-button:focus {
  color: #68a2ca;
}

.social-button:active {
  color: #d2e3ef;
}

.social-icon-vk {
  padding: 18px 12px;
}

.social-icon-telegram {
  padding: 17px 15px;
}

.social-icon-youtube {
  padding: 16px 13px;
}

.academy-resource {
  width: 120px;
  margin-left: auto;
}

.academy-logo {
  margin-top: 8px;
  margin-bottom: 8px;
}

.academy-link {
  color: #000;
}

.academy-link:hover {
  color: #756157;
}

.academy-link:focus {
  color: #756157;
}

.academy-link:active {
  color: #d6d0cd;
}

.footer-contacts-address-phone {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  width: 331px;
}

.footer-contacts-address-phone:hover {
 color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: #d6d0cd;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
}

.modal-hotel-search {
  width: 717px;
  padding: 64px 70px;
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 20px;
  top: 64px;
  right: 52px;
  width: 14px;
  height: 14px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color:#000;
  text-transform: uppercase;
}

.hotel-form {
  width: 577px;
}

.hotel-form .field-group {
  margin: 0;
  margin-bottom: 4px;
}

.field-group {
  display: flex;
  align-items: center;
  position: relative;
}

.hotel-form-field {
 font-family: "PT Sans", sans-serif;
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: 24px;
 width: 440px;
 color: #000000;
 background-color: #F2F2F2;
 border-radius: 4px;
 border: none;
 display: block;
 padding: 12px 20px;
 box-sizing: border-box;
}

.calendar {
  display: block;
  width: 20px;
  height: 20px;

  background-image: url("../images/modal-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  position: absolute;
  top: 14px;
  right: 20px;
  opacity: 30%;
}

.explanation {
  margin: 0;
  padding-left: 157px;
  padding-right: 140px;
  margin-bottom: 23px;
}

.first-date {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  max-width: 113px;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-right: 24px;
}

.second-date {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  max-width: 119px;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-right: 18px;
}

.hotel-search-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 577px;
  padding: 18px 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.filter {
  background-image: url("../images/catalog-filter.jpg");
  color: #ffffff;
  background-color: #9b9592;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filter-container {
  width: 1060px;
  padding-top: 35px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
 margin-top: 0;
 margin-bottom: 8px;
 font-size: 60px;
 font-weight: 700;
 line-height: 78px;
 color: #ffffff;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 28px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::before {
  content: "";
  display: block;
  width: 8px;
  height: 20px;

  background-image: url("../images/breadcrumbs-icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.breadcrumbs-item:first-child:before {
  display: none;
}

.breadcrumbs-link {
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 21px;
 color: #ffffff;
 text-decoration: none;
 display: block;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.breadcrumbs-link-icon {
  background-image: url("../images/breadcrumbs-icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 13px;
  height: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumbs-link-icon:hover {
  opacity: 60%;
}

.breadcrumbs-link-icon:focus {
  color: #ffffff;
}

.breadcrumbs-link-icon:active {
  opacity: 30%;
}

.catalog-filter {
  display: flex;
  width: 1060px;
}

.catalog-filter-title {
 font-family: "PT Sans", sans-serif;
 font-size: 20px;
 font-weight: 700;
 line-height: 24px;
 text-transform: capitalize;
 margin-bottom: 32px;
}

.catalog-filter-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.group-1 {
  width: 150px;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.group-2 {
  width: 150px;
  margin-right: 140px;
  padding: 0;
  border: none;
}

.price-filter-container {
  width: 288px;
  margin-right: 70px;
}

.price-button {
  width: 191px;
  margin-top: 56px;
}

.catalog-filter {
  display: flex;
}

.control-input + label {
  position: relative;
  padding-left: 36px;
}

.control-input + label::before {
 content: "";
 display: block;
 width: 20px;
 height: 20px;
 border-radius: 4px;
 background-color: #ffffff;
 position: absolute;
}

.control-input:checked + label::after {
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  background-image: url("../images/catalog-filter-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 6px;
  left: 4px;
}

.control-input:hover + label {
  opacity: 60%;
}

.control-input:focus + label::before {
  outline: 3px solid rgba(131, 179, 211, 1);
  border-radius: 4px;
}

.control-input:active + label {
  opacity: 30%;
}

.control-input-2 + label {
  position: relative;
  padding-left: 36px;
}

.control-input-2 + label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
}

.control-input-2:checked + label::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("../images/catalog-filter-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 1px;
  padding: 5px;
}

.control-input-2:hover + label {
  opacity: 60%;
}

.control-input-2:focus + label::before {
  outline: 3px solid rgba(131, 179, 211, 1);
  border-radius: 50%;
}

.control-input-2:active + label {
  opacity: 30%;
}

.price {
  width: 288px;
  margin: 0;
  padding: 0;
  border: none;
}

.price-filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.price-field-container {
  display: flex;
  gap: 2px;
  margin-bottom: 56px;
}

.min-input {
  position: relative;
}

.max-input {
  position: relative;
}

.price-field {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 143px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.price-field:hover {
  background-color: #e6e6e6;
  color: #000000;
}

.price-field:focus {
  background-color: #e6e6e6;
  color: #000000;
  border: 3px solid #82b3d3;
}

 .price-field:active {
  background-color: #f2f2f2;
  color: #000000;
  border: 2px solid #000000;
}

.price-field-2 {
  border-radius: 0 4px 4px 0;
}

.price-content {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  color: #a9a9a9;
  top: 12px;
  right: 20px;
  left: 106px;
}

.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  background-color: #71797c;
  margin-bottom: 8px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.price-filter-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 50px;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 32px;
}

.filter-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 57px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.filter-button:hover {
  color: #bac5c7;
}

.filter-button:focus {
  border: 3px solid #82b3d3;
}

.filter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-button:disabled {
  color: rgba(255, 255, 255, 1);
}

.hotels-catalog {
  color: #000000;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
}

.hotels-container {
  width: 1060px;
  margin: 0 auto;
}

.hotels-found {
 font-size: 30px;
 font-weight: 700;
 line-height: 36px;
 text-transform: uppercase;
 align-self: center;
 margin-top: 0;
 margin-bottom: 0;
}

.select-control {
  width: 292px;
  padding: 12px 20px;
  margin-left: auto;
  margin-right: 70px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.select-control:active {
  border: 2px solid #3f5e72;
  outline: none;
}

.select-control:disabled {
  border: #b3b3b3;
  color: #b3b3b3;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.sorting-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  gap: 8px;
}

.button-light {
  width: 48px;
  height: 48px;
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-light:hover {
  border: 2px solid #000000;
}

.button-light:focus {
  border: 2px solid #68a2ca;
}

.button-light:active {
  border: 2px solid #000000;
}

.sorting-icon {
  padding: 17px 16px;
}

.button-light-current {
  border: 2px solid #000000;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 80px;
  padding: 0;
}

.hotel-card {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-stars {
  width: 140px;
  height: 37px;
  background-repeat: no-repeat;
  grid-column: 1/2;
}

.stars-4 {
 background-image: url("../images/catalog-star.svg"), url("../images/catalog-star.svg"), url("../images/catalog-star.svg"), url("../images/catalog-star.svg");
 background-position: 0 center, 24px center, 48px center, 72px center;
}

.stars-3 {
  background-image: url("../images/catalog-star.svg"), url("../images/catalog-star.svg"), url("../images/catalog-star.svg");
  background-position: 0 center, 24px center, 48px center;
}

.stars-2 {
  background-image: url("../images/catalog-star.svg"), url("../images/catalog-star.svg");
  background-position: 0 center, 24px center;
}

.hotel-card-image {
  display: block;
}

.hotel-card-link {
 text-decoration: none;
 margin-bottom: 16px;
 display: block;
}

.hotel-card-description {
  margin: 0;
}

.hotel-card-title-link {
 font-size: 24px;
 font-style: normal;
 font-weight: 700;
 line-height: 28px;
 color: #000000;
 text-decoration: none;
 display: block;
 margin-top: 0;
 margin-bottom: 16px;
}

.hotel-card-description {
 font-size: 18px;
 font-weight: 400;
 line-height: 21px;
 justify-self: start;
}

.hotel-card-description-price {
 font-size: 18px;
 font-weight: 400;
 line-height: 21px;
 margin: 0;
 justify-self: end;
}

.hotel-card-button {
 font-family: inherit;
 font-size: 16px;
 font-style: normal;
 font-weight: 700;
 line-height: 20px;
 color: #ffffff;
 text-transform: uppercase;
 text-decoration: none;
 padding: 8px 26px;
}

.button-favorites {
 font-family: inherit;
 font-size: 16px;
 font-style: normal;
 font-weight: 700;
 line-height: 20px;
 color: #ffffff;
 text-transform: uppercase;
 text-decoration: none;
 padding: 8px 18px;
 border-radius: 4px;
}

.hotel-rating-button {
 font-family: inherit;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 20px;
 background-color: #F2F2F2;
 text-transform: uppercase;
 text-align: center;
 padding-top: 9px;
 padding-left: 22px;
 padding-bottom: 8px;
 padding-right: 23px;
 grid-column: 2/3;
 border-radius: 4px;
}

.pagination {
 font-size: 20px;
 font-style: normal;
 font-weight: 700;
 line-height: 36px;
 text-transform: uppercase;
 text-align: center;
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
 gap: 8px;
 margin: 0;
 padding: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link:focus {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: #a7cae0;
}

.pagination-current {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.pagination-current:hover {
  background-color: #f2f2f2;
  color: #000000;
  border: none;
}

.pagination-current:focus {
  background-color: #f2f2f2;
  color: #000000;
  border: none;
}

.pagination-current:active {
  background-color: #f2f2f2;
  color: #000000;
  border: none;
}

.pagination-divider {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 17px 21px;
  top: 16px;
  left: 21px;
}

.catalog-subscribes {
  padding-top: 96px;
  padding-bottom: 104px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #ffffff;
}

.catalog-subscribes-title {
 margin-top: 0;
 margin-bottom: 20px;
 font-size: 30px;
 font-weight: 700;
 line-height: 36px;
 text-transform: uppercase;
 color: #000000;
}

.catalog-subscribes-description {
 margin-top: 0;
 margin-bottom: 54px;
 font-size: 22px;
 font-weight: 400;
 line-height: 26px;
 color: #000000;
}

.field {
 font-family: inherit;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px;
 width: 412px;
 color: #000000;
 background-color: #F2F2F2;
 border: 3px solid #F2F2F2;
 border-radius: 4px 0 0 4px;
 display: block;
 padding-top: 11px;
 padding-bottom: 11px;
 padding-right: 17px;
 padding-left: 17px;
}

.field:hover {
 background-color: #e6e6e6;
 border: 3px solid #e6e6e6;
 color: #5c5c5c;
}

.field:focus {
  background-color: #e6e6e6;
  color: #5c5c5c;
  border: 3px solid #82b3d3;
}

.field:active {
  background-color: #f2f2f2;
  color: #000000;
  border: 2px solid #000000;
}
