@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family:"PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 440px;
}

.navigation-user {
  list-style: none;
  max-width: 290px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-button {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color:#ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.hero {
  background-color: #e0edf5;
  background-image: url("../images/mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-text {
  display: block;
  margin: 0 auto;
  padding-left: 371px;
  padding-right: 371px;
  padding-bottom: 82px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subtitle-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 230px;
  padding-left: 85px;
  padding-right: 85px;
}

.text-with-pic {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.advantages-text {
  background-color: #f0f6fa;
}

.town_sedona {
  display: block;
}

.text-beautiful-road {
  background-color: #e6f0f6;
}

.sedona-attractions {
  display: block;
}

.house {
  background-color: #f0f6fa;
}

.food {
  background-color: #ffffff;
}

.souvenirs {
  background-color: #f0f6fa ;
}

.subtitle-interesting {
  text-align: center;
}

.subtitle-button {
 font-family: inherit;
 font-size: 20px;
 font-weight: 700;
 line-height: 36px;
 color:#ffffff;
 text-transform: uppercase;
 text-decoration: none;
}

.subscribes {
  background-image: url("../images/subscribe.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
}

.subscribes-title {
 font-size: 30px;
 font-weight: 700;
 line-height: 36px;
 color:#ffffff;
 text-transform: uppercase;
}

.subscribes-description {
 font-size: 22px;
 font-weight: 400;
 line-height: 26px;
 color: #ffffff;
}

.subscribes-button {
 font-family: inherit;
 font-size: 20px;
 font-weight: 700;
 line-height: 36px;
 color:#ffffff;
 text-transform: uppercase;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 142px;
  margin-right: auto;
  margin-left: 70px;
}

.academy-resource {
  margin-left: auto;
  margin-right: 70px;
  width: 120px;
}

.footer-contacts-address-phone {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.filter {
  background-image: url("../images/catalog-filter.jpg");
  color: #ffffff;
  background-color: #82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filter-container {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
}

.catalog-filter-group {
  width: 371px;
}

.price-filter-container {
  width: 549px;
  margin-left: 140px;
}

.catalog-filter {
  display: flex;
}

.inner-header-title {
 font-size: 60px;
 font-weight: 700;
 line-height: 78px;
 color: #ffffff;
}

.breadcrumbs-link {
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 21px;
 color: #ffffff;
}

.catalog-filter-title {
 font-size: 20px;
 font-weight: 700;
 line-height: 24px;
 text-transform: capitalize;
}

.catalog-filter-list {
  list-style: none;
}

.control {
 font-size: 18px;
 font-weight: 400;
 line-height: 23px;
}

.price-filter-title {
 font-size: 20px;
 font-weight: 700;
 line-height: 24px;
 text-transform: capitalize;
}

.price-field {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.price-filter-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.hotels-catalog {
  color: #000000;
}

.hotels-container {
  width: 1060px;
}

.hotels-found {
 font-size: 30px;
 font-weight: 700;
 line-height: 36px;
 text-transform: uppercase;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
}

.hotel-list {
  text-align: center;
  list-style: none;
}

.hotel-card-link {
 font-size: 24px;
 font-style: normal;
 font-weight: 700;
 line-height: 28px;
 color: #000000;
 text-decoration: none;
}

.hotel-card-description {
 font-size: 18px;
 font-weight: 400;
 line-height: 21px;
}

.hotel-card-button {
 font-family: inherit;
 font-size: 16px;
 font-style: normal;
 font-weight: 700;
 line-height: 20px;
 color: #ffffff;
 text-transform: uppercase;
 text-decoration: none;
}

.button-favorites {
 font-family: inherit;
 font-size: 16px;
 font-style: normal;
 font-weight: 700;
 line-height: 20px;
 color: #ffffff;
 text-transform: uppercase;
 text-decoration: none;
}

.hotel-rating-button {
 font-family: inherit;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 20px;
 background-color: #F2F2F2;
 text-transform: uppercase;
 text-align: center;
}

.pagination {
 font-size: 20px;
 font-style: normal;
 font-weight: 700;
 line-height: 36px;
 text-transform: uppercase;
 text-align: center;
 list-style: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.catalog-subscribes {
  text-align: center;
  background-color: #ffffff;
}

.catalog-subscribes-title {
 font-size: 30px;
 font-weight: 700;
 line-height: 36px;
 text-transform: uppercase;
 color: #000000;
}

.catalog-subscribes-description {
 font-size: 22px;
 font-weight: 400;
 line-height: 26px;
 color: #000000;
}

.field {
 font-family: inherit;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px;
 color: #000000;
 background-color: #F2F2F2;
}
